<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecar.dao.RecallDAO">

    <select id="listRecall" resultType="com.ecar.entity.Recall">
        SELECT "rid", "title","publishDate"
        FROM tb_recall
    </select>

    <select id="getRecallByUUID" resultType="com.ecar.entity.Recall">
        SELECT "rid", "title", "manufacturer", "intervalDate", "inNumber", "defects", "consequence", "maintain", "improve", "notification", "otherInfo", "complain", "keywords", "publishDate", "publisher"
        FROM tb_recall
        WHERE "rid" = '${uuid}'
    </select>

    <select id="listVinByRid" resultType="com.ecar.entity.Vin">
        SELECT "vid", "rid", "carModels", "models", "years", "startNumber", "endNumber"
        FROM tb_vin
        WHERE "rid" = '${rid}'
    </select>

    <select id="listVin" resultType="vin">
        SELECT "vid", "rid", "carModels", "models", "years", "startNumber", "endNumber"
        FROM tb_vin
    </select>

    <select id="listRecallByKeyword" resultType="recall">
        SELECT "rid", "title", "publishDate"
        FROM tb_recall
        WHERE "title" LIKE '%${keyword}%'
    </select>

</mapper>